.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 80px;
}

.video-card {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
}

/* .keyword-list, .add-keyword-form {
    margin: 1rem;
  } */

/* Wrapper for video list and player */
.content-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Left column for the video list */
.video-list-wrapper {
  flex: 1;
  overflow-y: auto;
  padding-right: 20px;
}

/* Right column for the video player */
.video-player-wrapper {
  flex: 0 0 350px; /* Set a fixed width for the player */
  position: sticky;
  top: 20px; /* Adjust top offset as needed */
  height: fit-content;
  border: 2px solid #ddd; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  background-color: #fff; /* White background */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 1rem; /* Padding for inner content */
}

/* Style the player itself */
.video-player {
  width: 100%;
  margin: 0 auto;
  border-radius: 4px; /* Round corners of the video */
}

.video-player-wrapper:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

.video-player-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 20px 0 20px;
}

.video-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(4, auto); /* 4 rows */
  gap: 10px;
  margin: 20px auto;
  max-width: 960px; /* Ensure grid stays centered and within bounds */
}

.video-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  cursor: pointer;
}

.video-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.video-card h3 {
  font-size: 1rem;
  margin: 8px 0;
  padding: 0 8px;
}

.video-card p {
  font-size: 0.9rem;
  color: #555;
  padding: 0 8px 8px;
}

.video-card a {
  display: block;
  padding: 8px;
  color: #1e88e5;
  text-decoration: none;
}

.video-card:hover {
  transform: scale(1.02);
}
